@charset "UTF-8";
/* variables */
:root {
    --hero-image-height: 10rem;
    --screenshot-width: 8rem;
}

@media screen and (max-width: 1000px) {
    ul.social li a span {
        display: none;
    }
    #hero img {
        float: none;
    }
    .show-mobile {
        display: inline-block;
    }
}

/* extra small */
@media (min-width: 575px) {
}
/* small */
@media (min-width: 576px) {
}
/* medium */
@media (min-width: 768px) {
}
/* large */
@media (min-width: 1024px) {
}
/* extra large */
@media (min-width: 1280px) {
}
/* extra extra large */
@media (min-width: 1536px) {
}

.hide-mobile {
    display: none;
}

nav img {
    height: 3rem;
}

nav strong {
    color: var(--pico-h1-color);
    position: relative;
    top: 0.5rem;
}

nav small {
    font-size: small;
}

footer {
    text-align: center;
}

button.small {
    font-size: smaller;
    padding: 0.15rem 1rem;
    position: relative;
    margin-right: 0.5rem;
    top: -0.1rem;
}

[data-tooltip]:not(a, button, input) {
    border-bottom: none;
}

#hero img {
    height: var(--hero-image-height);
}

#hero hgroup {
    margin: 1rem 0;
}

footer {
    color: var(--pico-muted-color);
}

ul.social li a {
    font-size: small;
    text-align: center;
}

ul.social li a:hover {
    text-decoration: none;
}

section {
    padding: 0.5rem;
}

section div {
    padding: 0.5rem;
}

div.screenshots {
    text-align: center;
}

#screenshots figure {
    width: calc(var(--screenshot-width) + (var(--pico-spacing)*2));
}

#screenshots figcaption {
    color: var(--pico-primary-underline);
    font-size: small;
    text-align: left;
    line-height: 0.85rem
}

#screenshots figure img {
    padding: calc(var(--pico-spacing) / 4);
    border-radius: var(--pico-border-radius);
    border: 3px solid var(--pico-muted-border-color);
}

#screenshots figure a:link img, 
#screenshots figure a:visited img {
    border-color: var(--pico-muted-border-color);
}

#screenshots figure a:hover img, 
#screenshots figure a:active img {
    border: 3px solid var(--pico-contrast-hover-border);
}

blockquote.clean {
    padding: 1rem;
}

p i.fa {
    margin-left: 0.25rem;
}

/* utility classes */
.vspace {
    clear: left;
    margin: 2rem 0;
}
.small-vspace {
    margin: 1rem 0;
}
.hspace {
    padding: 0 1rem;
}
.vcondensed {
    margin: 0 auto;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.muted {
    color: var(--pico-muted-color);
}
.standout {
    color: var(--pico-h6-color);
    text-decoration: underline;
}
.group {
    white-space: nowrap;
}
.quoted {
    border-left: 3px solid var(--pico-muted-border-color);
    padding: 0.25rem 1rem;
    font-style: oblique;
    font-size: larger;
    line-height: 1.5rem;
}
.float {
    float: left;
}
.clear {
    clear: left;
}
.nudge-down {
    margin-top: 0.75rem;
}
.nudge-right {
    margin-left: 0.5rem;
}
.nudge-up {
    position: relative;
    top: -0.5rem;
}
.hug {
    margin: 0 0 3rem 0;
    font-size: 3rem;
    padding: 0 1rem;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.wide {
    width: 80%;
}
.tall {
    line-height: 4rem;
}