# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: QB64 PE (Phoenix Edition)
email: grymmjack@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Modern Cross-Platform BASIC compatible with QBasic and QuickBASIC 4.5!
  QB64 is a modern extended BASIC programming language with embedded OpenGL support
  that retains QuickBASIC 4.5 and QBasic compatibility and compiles native binaries
  for Windows (Vista and up), Linux, and macOS.  
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://www.qb64phoenix.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: grymmjack
github_username:  grymmjack
ignore_theme_config: true

latest_version: 3.13.0

links:
  github: https://github.com/QB64-Phoenix-Edition/QB64pe
  releases: https://github.com/QB64-Phoenix-Edition/QB64pe/releases/latest
  wiki: https://qb64phoenix.com/qb64wiki
  forum: https://qb64phoenix.com/
  discord: https://discord.gg/RxwYKeRA
  reddit: https://www.reddit.com/r/QB64pe/
  patreon: https://www.patreon.com/user?u=86544769
  webmaster: https://github.com/grymmjack
  downloads:
    win32: https://github.com/QB64-Phoenix-Edition/QB64pe/releases/download/v$version/qb64pe_win-x86-$version.7z 
    win64: https://github.com/QB64-Phoenix-Edition/QB64pe/releases/download/v$version/qb64pe_win-x64-$version.7z
    macos: https://github.com/QB64-Phoenix-Edition/QB64pe/releases/download/v$version/qb64pe_osx-$version.tar.gz
    linux: https://github.com/QB64-Phoenix-Edition/QB64pe/releases/download/v$version/qb64pe_lnx-$version.tar.gz
  integrations:
    vscode: https://www.youtube.com/watch?v=6kn-N_-eycg
    notepadplusplus: https://qb64phoenix.com/forum/showthread.php?tid=86&highlight=notepad%2B%2B

# Build settings
# theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
