---
title: "Home"
type: website
layout: index
image: /images/og/site.png
---
<!doctype html>
<html lang="en">
{% include head.html %}
<body>
    <main class="container">

{% include nav.html %}
{% include hero.html %}

{% include tagline.html %}

        <hr class="spacer">

        <div class="grid">
            <div>
                <p class="icon-header">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Build using a <strong>Retro IDE</strong> extended with
                    helpful tools and utilities or <strong>any text editor</strong>, or <strong><em>both!</em></strong>
                </p>
                <hr class="spacer">
                <p>
                    <small>
                        <em>
                            Includes a built-in IDE created in the spirit of the original MS-DOS version featuring:
                        </em>
                    </small>
                </p>
                <ul class="indented fa-ul">
                    <li><i class="fa fa-li fa-exclamation-triangle fa-fw" aria-hidden="true"></i> Realtime Input Error Checking</li>
                    <li><i class="fa fa-li fa-book fa-fw" aria-hidden="true"></i> Online and Offline Help System</li>
                    <li><i class="fa fa-li fa-eyedropper fa-fw" aria-hidden="true"></i> Syntax Highlighting</li>
                    <li><i class="fa fa-li fa-check fa-fw" aria-hidden="true"></i> Automatic Source Formatting</li>
                    <li><i class="fa fa-li fa-search fa-fw" aria-hidden="true"></i> Powerful Debugging Facilities</li>
                    <li><i class="fa fa-li fa-pencil fa-fw" aria-hidden="true"></i> Custom color themes</li>
                    <li><i class="fa fa-li fa-table fa-fw" aria-hidden="true"></i> ASCII Character Table</li>
                    <li><i class="fa fa-li fa-calculator fa-fw" aria-hidden="true"></i> Math Evaluator</li>
                    <li><i class="fa fa-li fa-keyboard-o fa-fw" aria-hidden="true"></i> Key Code Inserter</li>
                    <li><i class="fa fa-li fa-plus fa-fw" aria-hidden="true"></i> ...and much more!</li>
                </ul>
                <blockquote class="clean">
                    <small>
                        <em class="muted">
                            You can also take QB64 PE into the future using other modern editors like
                            <a href="{{site.links.integrations.vscode}}">Visual Studio Code</a>,
                            <a href="{{site.links.integrations.notepadplusplus}}">Notepad++</a>, etc.
                            Even better, combine and use both the built-in IDE and your editor of choice for even more flexibility!
                        </em>
                    </small>
                </blockquote>
            </div>
            <div id="screenshots" class="row around-xs">
                <figure>
                    <a href="images/screenshot-ide.png"><img alt="QB64 PE IDE" src="images/screenshot-ide.png"></a>
                    <figcaption>QB64 PE IDE with QBasic Original Theme</figcaption>
                </figure>
                <figure>
                    <a href="images/screenshot-ide-debugger.png"><img alt="Debugger with watches at breakpoint" src="images/screenshot-ide-debugger.png"></a>
                    <figcaption>Debugger with watches at breakpoint</figcaption>
                </figure>
                <figure>
                    <a href="images/screenshot-ide-colors.png"><img alt="IDE Color Editor" src="images/screenshot-ide-colors.png"></a>
                    <figcaption>IDE Color Editor</figcaption>
                </figure>
                <figure>
                    <a href="images/screenshot-ide-compiler-settings.png"><img alt="IDE Compiler Settings" src="images/screenshot-ide-compiler-settings.png"></a>
                    <figcaption>IDE Compiler Settings</figcaption>
                </figure>
                <figure>
                    <a href="images/screenshot-vscode.png"><img alt="Visual Studio Code with QB64 Extension" src="images/screenshot-vscode.png"></a>
                    <figcaption>Visual Studio Code with QB64 Extension and Custom Theme</figcaption>
                </figure>
                <figure>
                    <a href="images/screenshot-notepad++.png"><img alt="Notepad++ with Customization by RhoSigma" src="images/screenshot-notepad++.png"></a>
                    <figcaption>Notepad++ with Custom Integration by RhoSigma</figcaption>
                </figure>
            </div>
        </div>

{% include footer.html %}        
    </main>
  </body>
</html>