<footer>
    <article>
        <div class="social">
            <span class="group">
                <a href="{{site.links.github}}" class="social-icon"><i class="fa fa-github fa-fw" aria-hidden="true" title="GitHub"></i> GitHub</a>
                <a href="{{site.links.wiki}}" class="social-icon"><i class="fa fa-book fa-fw" aria-hidden="true" title="Wiki"></i> Wiki</a>
                <a href="{{site.links.forum}}" class="social-icon"><i class="fa fa-comments fa-fw" aria-hidden="true" title="Forum"></i> Forum</a>
            </span>
            <span class="group">
                <a href="{{site.links.discord}}" class="social-icon"><i class="fa fa-gamepad fa-fw" aria-hidden="true" title="Discord"></i> Discord</a>
                <a href="{{site.links.reddit}}" class="social-icon"><i class="fa fa-reddit fa-fw" aria-hidden="true" title="Reddit"></i> Reddit</a>
                <a href="{{site.links.patreon}}" class="social-icon"><i class="fa fa-handshake-o fa-fw" aria-hidden="true" title="Patreon"></i> Patreon</a>
            </span>
        </div>
    </article>
    <small>Made with &hearts; by <a href="{{site.links.webmaster}}">grymmjack</a></small>
</footer>
