<article id="hero">
    <div class="row around-xs">
        <div class="col-sm-3 brand">
            <img src="images/qb64pe.svg">
        </div>
        <div class="col-sm-9 details">
            <hgroup>
                <h1>QB64 PE <small class="group">(Phoenix Edition)</small></h1>
                <p class="muted">
                    Modern Cross-Platform BASIC
                    compatible with <span class="group">QBasic and QuickBASIC 4.5</span>
                </p>
                <hr class="spacer-small">
                <p>
                    <a href="{{site.links.downloads.win64 | replace: '$version', site.latest_version }}"><button class="outline small"><i class="fa fa-windows fa-fw" aria-hidden="true"></i> Windows</button></a>
                    <a href="{{site.links.downloads.macos | replace: '$version', site.latest_version }}"><button class="outline small"><i class="fa fa-apple fa-fw" aria-hidden="true"></i> macOS</button></a>
                    <a href="{{site.links.downloads.linux | replace: '$version', site.latest_version }}"><button class="outline small"><i class="fa fa-linux fa-fw" aria-hidden="true"></i> Linux</button></a>
                </p>
                <hr class="spacer-small">
                <p>
                    <small class="very-muted">&hellip;or get the latest from 
                    <a href="{{site.links.github}}" class="social-icon group"><button class="outline tiny muted"><i class="fa fa-github fa-fw" aria-hidden="true" title="GitHub"></i><span class="hide-small"> GitHub</span></button></a>
                    and build it yourself!</small>
                </p>
            </hgroup>
        </div>
    </div>
</article>