<header>
    <nav>
        <ul>
            <li><a href="/"><img src="images/qb64pe.svg"></a></li>
            <li><a href="{{site.links.releases}}"><button>Download</button></a></li>
        </ul>
        <ul class="social hide-small">
            <li class="group"><a href="{{site.links.github}}" class="social-icon"><i class="fa fa-github fa-fw" aria-hidden="true" title="GitHub"></i><span class="hide-small"> GitHub</span></a></li>
            <li class="group"><a href="{{site.links.wiki}}" class="social-icon"><i class="fa fa-book fa-fw" aria-hidden="true" title="Wiki"></i><span class="hide-small"> Wiki</span></a></li>
            <li class="group"><a href="{{site.links.forum}}" class="social-icon"><i class="fa fa-comments fa-fw" aria-hidden="true" title="Forum"></i><span class="hide-small"> Forum</span></a></li>
        </ul>
    </nav>
</header>
