<p>
    <small class="muted">
        QB64 PE is a modern extended BASIC+OpenGL language 
        that retains <span class="group">QuickBASIC 4.5 and QBasic</span> compatibility and 
        <strong><em>compiles</em></strong> native binaries for
        <span class="group"><i class="fa fa-windows" aria-hidden="true"></i> Windows (7 and up)</span>,
        <span class="group"><i class="fa fa-linux" aria-hidden="true"></i> Linux</span>, and
        <span class="group"><i class="fa fa-apple" aria-hidden="true"></i> macOS (Catalina and up)</span>.
    </small>
</p>
