<p>
    <small class="muted">
        QB64 PE is a modern extended BASIC programming language with embedded OpenGL support
        that retains <span class="group">QuickBASIC 4.5 and QBasic</span> compatibility and 
        <strong><em>compiles</em></strong> native binaries for
        <span class="group"><i class="fa fa-windows" aria-hidden="true"></i> Windows (Vista and up)</span>,
        <span class="group"><i class="fa fa-linux" aria-hidden="true"></i> Linux</span>, and
        <span class="group"><i class="fa fa-apple" aria-hidden="true"></i> macOS</span>.
    </small>
</p>